<div id="modalCover">
    <div class="modal-header">
        <div style="display:inline-block;float:left;">
            <h3 class="modal-title">Group Membership Upload Details</h3>
        </div>
        <div ng-show="groupmembership.showCloseButton" style="display:inline-block; float:right; margin: 10px 10px 10px 0;">
            <a ng-click="groupmembership.closeGroupMembershipUserInputModal()" style="color: #f54b4b;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
    <br />

    <form name="groupMembershipUserInputForm" role="form" ng-submit="groupmembership.submit()" style="margin: 10px">

        <div class="row" style="width:98%;">

            <div style="width:100%; background-color:red !important;">
                <div class="col-lg-12 col-sm-12 col-md-12 " style="float:left !important;">
                    <div style="margin-left:1%;">
                        Please provide the below details to proceed with the Upload
                    </div>
                    <br />
                    <div class="row" id="frmSearch">
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Chapter Code
                                </label><span class="requiredRed">*</span>
                                <div>
                                    <select name="selChapterCode" id="selChapterCode" class="form-control" ng-options="chapterCode.id for chapterCode in groupmembership.chapterCodes track by chapterCode.value" ng-model="groupmembership.chapterCode"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Group Name
                                </label><span class="requiredRed">*</span>
                                
                                    <!--<span class="glyphicon glyphicon-triangle-bottom" style="margin-right: 10px;top: 36px; float:right" ng-click="groupmembership.GroupNameTxtbox()"></span>
                                    <input type="text" class="form-control" list="groupNameList" ng-model="groupmembership.groupName" ng-change="groupmembership.populateGroupCode(groupmembership.groupName)" ng-click="groupmembership.GroupNameTxtbox()" />
                                  
                                    <ul id="groupNameList" ng-show="groupmembership.groupNamedropdown" class="upload_groupnameclass">
                                        <li ng-class="{upload_licolor: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="upload_groupnamedropdown_value"
                                            ng-repeat="x1 in names|orderBy:groupmembership.UploadFilter |filter:groupmembership.groupName" ng-click="groupmembership.Getgroupname(x1.id,x1.value)">{{x1.value}}</li>
                                    </ul>-->
                               
                                <ui-select ng-model="groupmembership.groupSelected">
                                    <ui-select-match placeholder="Select a group...">
                                        <span ng-bind="$select.selected.value "></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="group in (names | filter: $select.search | orderBy:groupmembership.UploadFilter)">
                                        <div ng-bind-html="group.value | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Group Code
                                </label>
                                <div>
                                    <input type="text" class="form-control" disabled placeholder="Group Code" required="true" ng-model="groupmembership.groupSelected.id" />
                                </div>
                            </div>
                        </div>
                        

                        <!--<div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Created By
                                </label><span class="requiredRed">*</span>
                                <div>
                                    <input type="text" class="form-control" placeholder="Created By" required="true" ng-model="groupmembership.createdBy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Created Date
                                </label><span class="requiredRed">*</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{groupmembership.format}}" required="true" ng-model="groupmembership.createdDate" is-open="groupmembership.popup1.opened" datepicker-options="dateOptions" ng-pattern="GroupMembershipUploadDateRegex" close-text="Close" alt-input-formats="altInputFormats" ng-keypress="$event.keyCode == 13 && groupmembership.submit()" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="groupmembership.openCreatedDate()"><span class="glyphicon glyphicon-calendar"></span></button>
                                    </span>
                                </p>
                            </div>
                        </div>-->

                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Group Membership Start Date
                                </label><span class="requiredRed">*</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{groupmembership.format}}" required="true" ng-model="groupmembership.startDate" is-open="groupmembership.popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="groupmembership.openStartDate()"><span class="glyphicon glyphicon-calendar"></span></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3">
                            <div style="padding-bottom:5px; padding-top:5px; ">
                                <label>
                                    Group Membership End Date
                                </label><span class="requiredRed">*</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{groupmembership.format}}" required="true" ng-model="groupmembership.endDate" ng-change="groupmembership.compareAgainstStartDate(groupmembership.endDate)" is-open="groupmembership.popup3.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="groupmembership.openEndDate()"><span class="glyphicon glyphicon-calendar"></span></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <br />
        <div class="modal-footer">
            <span class="search-no-results pull-right" ng-show="groupmembership.toggleInvalidInput">{{groupmembership.invalidInput}}</span>
            <br/>
            <br />
            <input type="submit" class="btn btn-default pull-right" style="width:100px;" value="Submit" ng-disabled="groupMembershipUserInputForm.$invalid || !(!!groupmembership.chapterCode || !!groupmembership.groupSelected  || !!groupmembership.startDate || !!groupmembership.endDate || !!groupmembership.losCode) || groupmembership.chapterCode.value == undefined || groupmembership.groupSelected == undefined || !groupmembership.groupSelected || groupmembership.compareAgainstStartDate(groupmembership.endDate)" />
            <button class="btn btn-default pull-left" type="button" ng-click="groupmembership.cancel()">Cancel</button>
        </div>

    </form>

</div>
