
<div class="modal-header">
    <img src="Images/tick.png" alt="logo" style="float:left;" />
    <h3 class="modal-title" style="float:left;"> Group Membership File Submitted Successfully</h3>
</div>
<br />
<br />
<div class="row" style="width:98%; ">
    <div style="margin-left:40px;margin-right:5px;">
        <p>{{groupmembership.uploadedFileMessage}}</p>
    </div>
</div>
<br />

<div class="modal-footer">
    <div style="padding-top:10px;">
        <button class="btn btn-default pull-right" type="button" ng-click="groupmembership.back()">Ok</button>
    </div>
</div>


