<div id="modalCover">
    <div class="modal-header">
        <div class="col-lg-10 col-sm-10 col-md-10">
            <h3 class="modal-title">Edit Death Record</h3>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <button ng-click="cancel()" class="btn btn-sm btn-danger pull-right">x</button>
        </div>
    </div>
    <br />
    <form name="myForm" role="form" ng-submit="submit()" style="margin: 10px">
        <div class="form-group row">
            <label for="MasterId" class="col-sm-4 form-control-label">Master ID</label>
            <div class="col-sm-8">
                <input ng-model="death.masterId" class="form-control" id="MasterId" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="MasterId" class="col-sm-4 form-control-label">Death Date<span class="requiredRed">*</span> </label>
            <div class="col-sm-8">
                <!--<input ng-model="death.deathDate" class="form-control" uib-datepicker-popup="{{format}}"  id="deathDate" type="text">-->
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="death.deathDate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><span class="glyphicon glyphicon-calendar"></span></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Associate Case Number</label>
            <div class="col-sm-8">
                <input ng-model="death.caseNo" class="form-control" id="" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label for="MasterId" class="col-sm-4 form-control-label">Deceased Code</label>
            <div class="col-sm-8">
                <input ng-model="death.deceasedCode" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Source System Id</label>
            <div class="col-sm-8">
                <input ng-model="death.sourceSysId" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Source System</label>
            <div class="col-sm-8">
                <input ng-model="death.sourceSys" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Start Date</label>
            <div class="col-sm-8">
                <input ng-model="death.startDate" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Row Code</label>
            <div class="col-sm-8">
                <input ng-model="death.rowCode" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="singlebutton" class="col-sm-4 form-control-label">Notes</label>
            <div class="col-sm-8">
                <div class="btn-group" uib-dropdown>
                    <button id="singlebutton" type="button" class="btn" uib-dropdown-toggle>
                        {{ death.selected.note }}<span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="note in death.notes">
                            <a href="#" ng-click="$event.preventDefault(); death.selected.note = note">{{ note }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- This casePath is defined in App.js headerCtrl -->
            <div ng-include src="CaseSearchPath"></div>
            <button class="btn btn-default" id="btnSubmit" type="Submit">Submit</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>