
<div class="clearfix">
    <div ng-style="toggleConstAlternateIdsLoader">
        <div class="refresh refresh-div" >
            <h4>Please wait....</h4>
        </div>
    </div>
    <div ng-style="toggleAlternateIdsHeader">

        <div class="row padding">

            <div class="row nopadding">
                <div class="row nopadding">
                    <div class="col-md-3 col-lg-3 col-sm-3 nopadding" style="display:inline;">
                        <h3>Alternate IDs</h3>

                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 nopadding">
                        <div ng-show="(totalConstAlternateIdsItems>=5) == true" style="display:inline;">
                            <select ng-model="constAlternateIdsGridOptions.paginationPageSize" ng-options="o as o for o in constAlternateIdsGridOptions.paginationPageSizes"
                                    class="form-control-static new-form-control-static"
                                    ng-if="constAlternateIdsGridOptions.paginationPageSizes.length > 1"></select>
                            <span class="">&nbsp;records per page</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 font-orange-changer ">
                        <span class="font-orange" ng-show="constAlternateIdsCount==1">There is {{constAlternateIdsCount}} distinct record</span>
                        <span class="font-orange" ng-show="constAlternateIdsCount>1">There are {{constAlternateIdsCount}} distinct records</span>
                    </div>
                </div>
                <div class="pull-left">
                    <span>Displays all the organization Alternate IDs records existing on the master from the various production systems and LexisNexis</span>

                </div>
                <div class="pull-right ">
                    <!--<a href="#" class=" " ng-click="showAllrecords(CONSTANTS.CONTACTS_DETAILS)">{{showContacts.showAllButtonName}}  </a>-->
                    <!--<div ng-controller="ShowDetailsCtrl" style="display:inline;">
                        <a href="#" class="" ng-click="details.showDetails(CONSTANTS.CONTACTS_DETAILS)">Show Details</a>
                        <div ng-show="details.togglePleaseWait">
                            <div class="refresh refresh-div" style="margin-left: -102.5%;">
                                <h4>Please wait....</h4>
                            </div>
                        </div>

                    </div>-->
                </div>
            </div>



        </div>
        <!--<button class="btn btn-sm btn-success" ng-click="toggleConstEmailFiltering()">Filter</button>-->
        <div ui-grid="constAlternateIdsGridOptions" ui-grid-selection class="ConstAlternateIds" id="ConstAlternateIds" ui-grid-move-columns scrolldown ui-grid-pagination ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ng-style="toggleConstAlternateIdsDetails">
            <div class="watermark" ng-show="constAlternateIdsGridOptions.data.length<=0 == 'true'">No data available</div>
        </div>



        <div class="grid-pager">
            <div class="col-lg-9 col-md-9 col-sm-9 nopadding">
                <div ng-show="(totalConstAlternateIdsItems>=5) == true">
                    <div class="pagination-left">
                        <uib-pagination boundary-links="true" total-items="totalConstAlternateIdsItems" items-per-page="constAlternateIdsGridOptions.paginationPageSize" ng-change="pageChanged(CONSTANTS.CONTACTS_DETAILS,currentConstContactsPage)"
                                        ng-model="currentConstAlternateIdsPage" class="pagination" direction-links="false" id="constContacts"
                                        first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>


                </div>
            </div>
            <!--<div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-show="commonShowAddGridRow">
                <div style="margin-top:20px;" class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="commonAddGridRow(CONSTANTS.CONTACTS_DETAILS)">Add Org Name</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-hide="commonShowAddGridRow">
                <div style="margin-top:20px;" class="pull-right">
                    <span></span>
                </div>
            </div>-->
        </div>

    </div>
</div>
