@{
    ViewBag.Title = "Home Page";
}



<div class="row" ng-controller="homeIndexController">
    <div class="col-md-4">
        <h2>Constituent Tab</h2>
        <p>
           Search for master records. Merge and unmerge records
        </p>
        <p><a class="btn btn-default" href="/constituent/search">Learn more &raquo;</a></p>
    </div>
  <!--  <div class="col-md-4">
        <h2>Case Tab</h2>
        <p>Page is still under construaction</p>
        
    </div>
    <div class="col-md-4">
        <h2>Locator Tab</h2>
        <p>Page is under construction</p>
        
    </div>-->
</div>