@{
    ViewBag.Title = "Top Accounts";
}

<link rel="stylesheet" href="~/Content/ui-grid.css" />
@section scripts {

    <script src="~/App/TopAccount/App.js"></script>
    <script src="~/App/TopAccount/Controllers/SearchController.js"></script>
}

<div class="container-fluid" ng-app="topAccountModule" id="topAccount">
    <br />
    <div class="row">
        <div class="container-fluid">
            <div ui-view="header"></div>
            <div ui-view="content"></div>
        </div>
    </div>

    <div class="modal fade" id="iConfirmationModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" ng-bind="ConfirmationMessage"></h4>
                </div>
                <div class="modal-body">
                    <p ng-bind="FinalMessage"></p>
                    <p ng-bind="ReasonOrTransKey"></p>

                    <p ng-bind="CaseNo"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="iErrorModal" role="dialog" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" ng-bind="header"></h4>
                </div>
                <div class="modal-body">
                    <p ng-bind="message"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="accessDeniedModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Access Denied!</h4>
                </div>
                <div class="modal-body">
                    <p>Logged in user does not have appropriate permission.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>