
<div ng-style="pleaseWait">
    <div class="refresh refresh-div">
        <h4>Please wait....</h4>
    </div>
</div>
<br />
<div class="row " ng-controller="LocatorEmailDetailsController">
      <div class="col-lg-12 col-sm-12 col-md-12 custom-const-search-result">

                <div ng-style="toggleShowResults">
                    <div style="width:100%;">
                        <div style="float:left;">
                            <h3 style="float: left;">Locator Details</h3>
                        </div>

                    </div>
                    <div ng-include src="LocatorTemplate"></div>

                    <div col-lg-1 col-md-1 col-sm-1></div>
                </div>
            </div>
 </div>
       
