


<div class="home-grid-content" ng-controller="LocatorDetailsAddressController" style="width:100%;"> 
<div style="width:100%;">
    
<div style="float:left;">    
<h3 style="float: left;">Constituents</h3>
</div>
</div>
<div style="float: left; width: 100%; " ui-grid="searchResultsGridOptions_Constituents" scrolldown ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="grid" ui-grid-auto-resize id="searchResultsGrid"></div>
    <!--<div ng-show="(totalItems<=10) == true" style=" font-style:italic; color:#ff6a00; margin-top:10px;float:left; padding-left:10px;">  {{(totalItems > 1) ? 'Search results found ' + totalItems + ' records.': 'Search results found ' + totalItems + ' record.'}}</div>-->

</div>    

               
				