
<div class="modal-header">
    <h3 class="modal-title">Transaction Status</h3>
</div>
<br />
<br />

<div class="row" style="width:98%; ">
    <div style="margin-left:40px;margin-right:40px;">
        The Transaction will be posted to CDIM.
    </div>
</div>
<br />

<div class="modal-footer">
    <!--<button class="btn btn-default pull-left" ng-click="case.back()"> Back</button>-->
    <div style="padding-top:10px;">
        <button class="btn btn-default pull-right" type="button" ng-click="back()">Back</button>
    </div>
</div>


