<!-- Hierarchy Action dropdown template -->
<!-- Level 1 -->
<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 1%;" ng-show="(row.groupHeader && row.treeLevel == 0) || (!row.groupHeader && row.treeNode.parentRow == null)">
    <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
        Action <span class="caret"></span>
    </button>

    <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="javascript:void(0)" ng-show="!(row.groupHeader && row.grid.rows[0].entity.lvl5_ent_org_id != null)" ng-click="grid.appScope.addHierarchy(row,grid,'addparent')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Parent</a></li>
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.addHierarchy(row,grid,'addchildren')"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Child</a></li>
    </ul>
</div>
<!-- Middle levels -->
<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 1%;" ng-show="(row.groupHeader && row.treeLevel != 0 && ((row.treeLevel==1 && row.treeNode.aggregations[1].groupVal != 'Null') || (row.treeLevel==2 && row.treeNode.aggregations[2].groupVal != 'Null') || (row.treeLevel==3 && row.treeNode.aggregations[3].groupVal != 'Null')))">
    <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
        Action <span class="caret"></span>
    </button>

    <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.addHierarchy(row,grid,'addchildren')"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Child</a></li>
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.deleteHierarchy(row)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
    </ul>
</div>
<!-- Last Level -->
<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 1%;" ng-show="(!row.groupHeader && row.treeNode.parentRow != null && ((row.treeNode.parentRow.treeLevel == 0 && row.entity.lvl2_ent_org_id != '' && row.entity.lvl2_ent_org_id != null) || (row.treeNode.parentRow.treeLevel == 1 && row.entity.lvl3_ent_org_id != '' && row.entity.lvl3_ent_org_id != null) || (row.treeNode.parentRow.treeLevel == 2 && row.entity.lvl4_ent_org_id != ''  && row.entity.lvl4_ent_org_id != null) || (row.treeNode.parentRow.treeLevel == 3 && row.entity.lvl5_ent_org_id != '' && row.entity.lvl5_ent_org_id != null)))">
    <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
        Action <span class="caret"></span>
    </button>

    <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="javascript:void(0)" ng-show="row.treeNode.parentRow.treeLevel < 3" ng-click="grid.appScope.addHierarchy(row,grid,'addchildren')"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Child</a></li>
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.deleteHierarchy(row)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
    </ul>
</div>