<div id="modalCover">
    <div class="modal-header">
        <div class="col-lg-10 col-sm-10 col-md-10">
            <h3 class="modal-title">Edit Birth Record</h3>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <button ng-click="cancel()" class="btn btn-sm btn-danger pull-right">x</button>
        </div>
    </div>
    <br />
    <form name="myForm" role="form" ng-submit="submit()" style="margin: 10px">
        <div class="form-group row">
            <label for="MasterId" class="col-sm-4 form-control-label">Master ID</label>
            <div class="col-sm-8">
                <input ng-model="birth.masterId" class="form-control" id="MasterId" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Birth Day<span class="requiredRed">*</span> </label>
            <div class="col-sm-8">
                <input ng-model="birth.birthDay" class="form-control" id="" type="text" ng-required="true" name="birthDay" ng-pattern="birth.cnstBirthRegex.birthDay">
                <sub>Please provide a day number between 1 and 31.</sub>
            </div>
            <div role="alert">
                <span class="error" ng-show="myForm.birthDay.$error.pattern" style="color:Crimson">
                    Invalid Format
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Birth Month<span class="requiredRed">*</span> </label>
            <div class="col-sm-8">
                <input ng-model="birth.birthMonth" class="form-control" id="" type="text" ng-required="true" name="birthMonth" ng-pattern="birth.cnstBirthRegex.birthMonth">
                <sub>Please provide a month number between 1 and 12.</sub>
            </div>
            <div role="alert">
                <span class="error" ng-show="myForm.birthMonth.$error.pattern" style="color:Crimson">
                    Invalid Format
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Birth Year<span class="requiredRed">*</span> </label>
            <div class="col-sm-8">
                <input ng-model="birth.birthYear" class="form-control" id="" type="text" ng-required="true" name="birthYear" ng-pattern="birth.cnstBirthRegex.birthYear">
                <sub>Please provide the year as 4 digit number and less than the current year.</sub>
            </div>
            <div role="alert">
                <span class="error" ng-show="myForm.birthYear.$error.pattern" style="color:Crimson">
                    Invalid Format
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Source System</label>
            <div class="col-sm-8">
                <input ng-model="birth.sourceSys" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Start Date</label>
            <div class="col-sm-8">
                <input ng-model="birth.startDate" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Row Code</label>
            <div class="col-sm-8">
                <input ng-model="birth.rowCode" class="form-control" id="" type="text" disabled="disabled">
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-4 form-control-label"> Associate Case Number</label>
            <div class="col-sm-8">
                <input ng-model="birth.caseNo" class="form-control" id="" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label for="singlebutton" class="col-sm-4 form-control-label">Notes</label>
            <div class="col-sm-8">
                <div class="btn-group" uib-dropdown>
                    <button id="singlebutton" type="button" class="btn" uib-dropdown-toggle>
                        {{ birth.selected.note }}<span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="note in birth.notes">
                            <a href="#" ng-click="$event.preventDefault(); birth.selected.note = note">{{ note }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <!-- This casePath is defined in App.js headerCtrl -->
            <div ng-include src="CaseSearchPath"></div>
            <button class="btn btn-default" id="btnSubmit" type="Submit">Submit</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>