
<!--<div class="clearfix">
    <div ng-style="toggleConstEmailLoader">
        <div class="refresh refresh-div" >
            <h4>Please wait....</h4>
        </div>
    </div>
    <div ng-style="toggleConstEmailHeader">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6" style="margin-left:-15px;">
                <div class="pagination-left">
                    <h3>Constituent Email</h3>
                </div>
               
                <div class="pagination-right items-number" ng-show="(totalConstEmailItems>=5) == true">
                    <select ng-model="constEmailGridOptions.paginationPageSize" ng-options="o as o for o in constEmailGridOptions.paginationPageSizes" class="form-control-static"
                            ng-if="constEmailGridOptions.paginationPageSizes.length > 1"></select>
                    <span class="">&nbsp;records per page</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6" style="margin-top: 35px;">
                <a href="#" class=" pull-right " style="padding-left:15px;" ng-click="showAllrecords(CONSTANTS.CONST_EMAIL)">{{showEmail.showAllButtonName}}  </a>
                <div ng-controller="ShowDetailsCtrl">
                    <a href="#" class=" pull-right" ng-click="details.showDetails(CONSTANTS.CONST_EMAIL)">Show Details</a>
                    <div ng-show="details.togglePleaseWait">
                        <div class="refresh refresh-div" style="margin-left: -102.5%;">
                            <h4>Please wait....</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  
        <div ui-grid="constEmailGridOptions" ui-grid-selection class="ConstEmail" scrolldown ui-grid-pagination ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ng-style="toggleConstEmailDetails">

            <div class="watermark" ng-show="!constEmailGridOptions.data.length">No data available</div>
        </div>


        <div class="grid-pager">
            <div class="col-lg-9 col-md-9 col-sm-9 nopadding" >
                <div ng-show="(totalConstEmailItems>=5) == true">
                    <div class="pagination-left">
                        <uib-pagination boundary-links="true" total-items="totalConstEmailItems" items-per-page="constEmailGridOptions.paginationPageSize" ng-change="pageChanged(CONSTANTS.CONST_EMAIL,currentConstEmailPage)"
                                        ng-model="currentConstEmailPage" class="pagination" direction-links="false" id="constEmail"
                                        first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>

                   
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-show="commonShowAddGridRow">
                <div style="margin-top:20px;" class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="commonAddGridRow(CONSTANTS.CONST_EMAIL)">Add Email</button>
                </div>
            </div>
        </div>
        
    </div>
</div> -->

<div class="clearfix">
    <div ng-style="toggleConstEmailLoader">
        <div class="refresh refresh-div" >
            <h4>Please wait....</h4>
        </div>
    </div>
    <div ng-style="toggleConstEmailHeader">

        <div class="row padding">

            <div class="row nopadding">
                <div class="row nopadding">
                    <div class="col-md-3 col-lg-3 col-sm-3 nopadding" style="display:inline;">
                        <h3>Constituent Email</h3>

                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 nopadding">
                        <div ng-show="(totalConstEmailItems>=5) == true" style="display:inline;">
                            <select ng-model="constEmailGridOptions.paginationPageSize" ng-options="o as o for o in constEmailGridOptions.paginationPageSizes" class="form-control-static new-form-control-static"
                                    ng-if="constEmailGridOptions.paginationPageSizes.length > 1"></select>
                            <span class="">&nbsp;records per page</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 font-orange-changer ">
                        <span class="font-orange" ng-show="constEmailCount==1">There is {{constEmailCount}} distinct record</span>
                        <span class="font-orange" ng-show="constEmailCount>1">There are {{constEmailCount}} distinct records</span>
                    </div>
                </div>
                <div class="pull-left">
                    <span>Displays all the email records existing on the master from the various production systems and LexisNexis</span>

                </div>
                <div class="pull-right ">
                    <a href="#" class=" " ng-click="showAllrecords(CONSTANTS.CONST_EMAIL)">{{showEmail.showAllButtonName}}  </a>
                    <div ng-controller="ShowDetailsCtrl" style="display:inline;">
                        <a href="#" class="" ng-click="details.showDetails(CONSTANTS.CONST_EMAIL)">Show Details</a>
                        <div ng-show="details.togglePleaseWait">
                            <div class="refresh refresh-div" style="margin-left: -102.5%;">
                                <h4>Please wait....</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <!--<button class="btn btn-sm btn-success" ng-click="toggleConstEmailFiltering()">Filter</button>-->
        <div ui-grid="constEmailGridOptions" ui-grid-selection class="ConstEmail" scrolldown ui-grid-pagination ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ng-style="toggleConstEmailDetails">

            <div class="watermark" ng-show="!constEmailGridOptions.data.length">No data available</div>
        </div>


        <div class="grid-pager">
            <div class="col-lg-9 col-md-9 col-sm-9 nopadding">
                <div ng-show="(totalConstEmailItems>=5) == true">
                    <div class="pagination-left">
                        <uib-pagination boundary-links="true" total-items="totalConstEmailItems" items-per-page="constEmailGridOptions.paginationPageSize" ng-change="pageChanged(CONSTANTS.CONST_EMAIL,currentConstEmailPage)"
                                        ng-model="currentConstEmailPage" class="pagination" direction-links="false" id="constEmail"
                                        first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>


                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-show="commonShowAddGridRow">
                <div style="margin-top:20px;" class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="commonAddGridRow(CONSTANTS.CONST_EMAIL)">Add Email</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-hide="commonShowAddGridRow">
                <div style="margin-top:20px;" class="pull-right">
                    <span></span>
                </div>
            </div>
        </div>

    </div>
</div>

