<div ng-style="pleaseWait" >
    <div class="refresh refresh-div" >
        <h4>Please wait....</h4>
    </div>
</div>
  <!--<a href="#" ng-click="ViewCart()" ng-style="CartVisibility" style="float: right; margin-right: 10px;">View Cart</a>-->

<div ng-include src="rootCaseLinkHtmlPath"></div>



<br />
<div class="row " >
    <div class="col-lg-12 col-sm-12 col-md-12 custom-const-search-result">
        <div ng-style="toggleShowResults">
            <div style="width:100%;">
                <div style="float:left;">
                    <h3 style="float: left;">Constituent Search Results</h3>
                </div>              
            </div>
            
            <div style="float: left; width: 100%;" ui-grid="searchResultsGridOptions" scrolldown ui-grid-selection ui-grid-pagination ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns class="grid" ui-grid-auto-resize id="searchResultsGrid"></div>


            <div class="grid-pager">

                <div ng-show="(totalItems>=10) == true">

                    <div class="row ">
                        <div class="col-lg-2 col-md-2 col-sm-2" style="padding:0px;">
                            <uib-pagination boundary-links="true" total-items="totalItems" items-per-page="searchResultsGridOptions.paginationPageSize" ng-change="pageChanged(currentPage)"
                                            ng-model="currentPage" class="pagination" direction-links="false" style="float: left; width: 100%"
                                            first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10" style="padding:0px;">
                            <div class="col-lg-3 col-md-3 col-sm-3  " style="margin-top:20px;padding:0px;">
                                <select ng-model="searchResultsGridOptions.paginationPageSize" ng-options="o as o for o in searchResultsGridOptions.paginationPageSizes" class="form-control-static"
                                        ng-if="searchResultsGridOptions.paginationPageSizes.length > 1"></select>
                                <span class="">&nbsp;records per page</span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-pull-1 col-md-pull-1" style="margin-top:28px;padding:0px;">
                                <div style="color:#ff6a00; font-style:italic; display:inline;">
                                    <div ng-show="totalItems<50"> {{(totalItems > 1) ? 'Search results found ' + totalItems + ' records.': 'Search results found ' + totalItems + ' record.'}}</div>
                                    <div ng-show="totalItems==50"> Search results found more than {{totalItems}} records.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <button type="button" class="btn btn-default" ng-click="AddtoCart()" style="float:left; margin-top: 10px;" ng-show="showMergeButton">Add to cart</button>
            
            <a href="~/constituent/search" style="float: left;margin-top: 17px;margin-left: 20px;">Search Again</a>
            <div style="float: left;margin-top: 17px;margin-left: 20px;color:#ff6a00; font-style:italic; display:inline;" ng-show="(totalItems<=10) == true">
                <div ng-show="totalItems<50"> {{(totalItems > 1) ? 'Search results found ' + totalItems + ' records.': 'Search results found ' + totalItems + ' record.'}}</div>
                <div ng-show="totalItems==50"> Search results found more than {{totalItems}} records.</div>
            </div>
           
            <button class="btn btn-default pull-right" ng-click="exportSearchResults()" style="margin-top: 10px;">Export</button>
        </div>
    </div>
  </div>


