@{
    ViewBag.Title = "Case";
}

<link rel="stylesheet" href="~/Content/ui-grid.css" />
@section scripts {

    <script src="~/App/Case/App.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>
    @Scripts.Render("~/App/case.js")

    @* If you are debugging then uncomment this and comment @scripts.Render *@
    @*<script src="~/App/Case/Services/CaseHelper.js"></script>
    <script src="~/App/Case/Services/CaseServices.js"></script>

    <script src="~/App/Case/Services/CaseDetailsServices.js"></script>
    <script src="~/App/Case/Controllers/CaseDetailsController.js"></script>
    <script src="~/App/Case/Services/CaseCRUDService.js"></script>


    <script src="~/App/Case/Controllers/CaseSearchController.js"></script>
    <script src="~/App/Case/Controllers/CaseSearchResultsController.js"></script>
    <script src="~/App/Case/Controllers/CaseCreateController.js"></script>
    <script src="~/App/Case/Controllers/Instantiated Controllers/CaseInfoInstantiatedController.js"></script>
    <script src="~/App/Case/Controllers/Instantiated Controllers/CaseLocInfoInstantiatedController.js"></script>
    <script src="~/App/Case/Controllers/Instantiated Controllers/CaseNotedInstantiatedController.js"></script>*@


}


@section jsCode {
    angular.bootstrap(document.getElementById("case"), ['case']);
}


<div class="container-fluid" data-ng-app="case" id="case">
    <br />
    <div class="row1">
        <!-- <div class="col-lg-2 col-md-2 col-sm-2">
             <ul class="nav nav-pills nav-stacked">
                 <li class="active"><a href="/constituent/search">Search</a></li>
                 <!--<li><a href="/constituent/masterdetail">Master Details</a></li>
                 <li><a href="/constituent/summary">Summary View</a></li>
                 <li><a href="/constituent/personname">Person Names </a></li>
             </ul>
         </div>-->
        <!--<ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs>-->

        <div class="container-fluid">
            <div ui-view="header"></div>
            <div ui-view="content"></div>
        </div>
    </div>

    <div class="modal fade" id="caseConfirmationModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" ng-bind="ConfirmationMessage"></h4>
                </div>
                <div class="modal-body">
                    <p ng-bind="FinalMessage"></p>
                    <p ng-bind="ReasonOrTransKey"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="accessDeniedModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Access Denied!</h4>
                </div>
                <div class="modal-body">
                    <p>Logged in user does not have appropriate permission.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>