@{
    ViewBag.Title = "Group Membership Reference Data Table";
}

<link rel="stylesheet" href="~/Content/ui-grid.css" />
@section scripts {

    <script src="~/App/Upload/ReferenceTable/App.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>

    <script src="~/App/Upload/ReferenceTable/Controllers/GroupMembershipReferenceController.js"></script>
    <script src="~/App/Upload/ReferenceTable/Services/GroupMembershipReferenceServices.js"></script>

    <script src="~/Scripts/upload.js"></script>
    <script src="~/Scripts/ng-file-upload.js"></script>
    <script src="~/Scripts/FileSaver.min.js"></script>

}


@section jsCode {
    angular.bootstrap(document.getElementById("groupmembershipreference"), ['groupmembershipreference']);
}

<div class="container-fluid" data-ng-app="groupmembershipreference" id="groupmembershipreference">
    <br />
    <div class="row1">
        <div class="container-fluid">
            <div ui-view="header"></div>
            <div ui-view="content"></div>
        </div>
    </div>

</div>