<div ng-show="pleaseWait">
    <div class="refresh refresh-div new-loader" >
        <h4>Please wait....</h4>
    </div>
</div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy">
</ui-breadcrumbs>
<div class="container-fluid " ng-style="{'display':display}" style="margin-top:-30px;">

    <!--<div class="custom-master-header">

        <div style="float:left;">
            <h2>{{transaction_name}}</h2>{{BreadCrumTplURL}}
        </div>
        <div style="font-style:italic;float:left; margin-left:20px; text-align:center; vertical-align:bottom; padding-top:23px;"><h4>Master Id: {{constituent_masterId}}</h4></div>

    </div>-->
</div>
