<div ng-controller="locatorDomainController">
    <div ng-style="pleaseWait">
        <div class="refresh refresh-div ">
            <h4>Please wait....</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div>
                <h3>Search Locator Domain</h3>
                <div style="float: right; margin-top: -35px">

                </div>
            </div>

        </div>
    </div>
    <br />

    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">
                <div style="padding-bottom:5px; padding-top:5px; ">
                    <label>Invalid Domain</label>
                    <div class="ui-select">
                        <input type="text" placeholder="Invalid Domain" class="form-control" ng-model="LocInvalidDomain" autocomplete="off"  ng-keypress="$event.keyCode == 13 && searchLocatorDomain()" />

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">

                <div style="padding-bottom:5px; padding-top:5px; ">
                    <label>Valid Domain</label>
                    <input type="text" placeholder="Valid Domain" ng-model="LocValidDomain" class="form-control" autocomplete="off"  ng-keypress="$event.keyCode == 13 && searchLocatorDomain()"/>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">
                <div style="padding-bottom:5px; padding-top:5px; ">
                    <label>Status</label>
                    <select class="form-control" ng-model="LocStatus" ng-keypress="$event.keyCode == 13 && searchLocatorDomain()">
                        <option value="All">ALL</option>
                        <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Waiting for Approval">Waiting for Approval</option>
                        <option value="Reverted">Reverted</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

    <div style="height:3px; background-color:#cccccc; width:100%; margin-top:5px; float: left"></div>

    <div class="row">
        <div class="col-lg-12">
            <div style="padding-top:10px; float: left;">
                <!--<input type="text" value="Search" class="btn btn-default" style="width:100px;" id="btnSearch" name="btnSearch" ng-click="searchLocatorDomain()" />-->

                <button class="btn btn-default"  type="Submit" style="width:100px;" id="btnSearch" name="btnSearch" ng-click="searchLocatorDomain()">  Search  </button>

            </div>
            <div style="padding-top:10px; float: left; margin-left: 10px;">
                <!--<input type="submit" value="Clear" class="btn btn-default" style="width:100px;" id="btnClear" name="btnClear" ng-click="LocatorDomainClear()" />-->
                <button class="btn btn-default"  type="Submit" style="width:100px;" id="btnClear" name="btnSearch" ng-click="LocatorDomainClear()">  Clear  </button>
            </div>
            <span class="search-no-results">{{ConstNoResults}}</span>
        </div>
    </div>
    <h3 ng-show="toggleAdvancedSearchHeader">Search Results</h3>


</div>












