
<div ng-controller="locatorEmailController">
   
    <div ng-style="pleaseWait">
        <div class="refresh refresh-div">
            <h4>Please wait....</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div>
                <h3>Search Email</h3>
                <div style="float: right; margin-top: -35px">
                    <button type="button" class="btn btn-default" ng-show="lastLocatorEmailSearchResultPresent" ng-click="fetchLastLocatorEmailSearchResult()">Last Search Result</button>
                    <button type="button" class="btn btn-default" style="margin-left: 6px;" data-toggle="modal" data-target="#recentLocatorEmailSearchesModal">Recent Searches</button>
                </div>
            </div>
            <div class="modal fade" id="recentLocatorEmailSearchesModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Recent Searches</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-default">
                                <div class="menu_simple" ng-repeat="obj in LocatorEmailRecentSearches track by $index" style="padding:8px;">
                                    
                                    <ul>
                                        <li>
                                            <a href="#" ng-click="LocatorEmailRecentSearch(obj)" ng-model="obj">{{obj| placeholderfuncEmail}}</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" ng-repeat="counter in LocatorEmailSearchFormElements">
        <div ng-show="LocatorParams.showCloseButton[counter]" style="float:right; margin: 10px 10px 0 0;">
            <a href="#" ng-click="RemoveRow(counter)" style="color: #f54b4b;">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div ng-show="LocatorParams.SearchPanel[counter]">

            <div class="col-lg-12">

                <div class="row" id="frmSearch">
                    <div class="col-lg-2 col-sm-2 col-md-2">
                        <div style="padding-bottom:5px; padding-top:5px; ">
                            <label>Email Key</label>
                            <div class="ui-select">
                                <input type="number"  autocomplete="off" placeholder="Email key" class="form-control" ng-model="LocatorParams.locator_addr_key[counter]" ng-keypress="$event.keyCode == 13 && searchLocatorEmail()"  />

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2">
           
                        <div style="padding-bottom:5px; padding-top:5px; ">
                            <label>Email Address</label>
                            <input type="text" placeholder="Email Address" ng-model="LocatorParams.cnst_email_addr[counter]" class="form-control" autocomplete="off" ng-keypress="$event.keyCode == 13 && searchLocatorEmail()" />
                        </div>
                    </div>
                   <!-- <div class="col-lg-2 col-sm-2 col-md-2">
                        <div style="padding-bottom:5px; padding-top:5px; ">
                            <label>Final Assessment Code <!--: Assessment Category-</label>
                           
                            <select name="selSearchType" id="selSearchType" class="form-control" ng-model="LocatorParams.code_category[counter]" autocomplete="off"
                                    ng-options="finalassesmentCtry.id as finalassesmentCtry.value for finalassesmentCtry in LocatorParams.Finalassesmentcode">
                                <option></option>
                            </select>
                        </div>
                    </div>-->
                    


                    <div class="col-lg-4 col-sm-3 col-md-3">
                        <div style="padding-bottom:5px; padding-top:5px; ">
                            <label>Final Assessment Code: Assessment Category</label>
                            <!--<div class="col-lg-6 col-sm-6 col-md-6 no-left-padding">-->
                                <select name="selSearchType" id="selSearchType" class="form-control" ng-model="LocatorParams.code_category[counter]" autocomplete="off" ng-keypress="$event.keyCode == 13 && searchLocatorEmail()" 
                                        ng-options="finalassesmentCtry.id as finalassesmentCtry.value for finalassesmentCtry in LocatorParams.Finalassesmentcode">
                                    <option></option>
                                </select>
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-2 col-md-2 ">
                        <div style="padding-bottom:5px; padding-top:5px; ">
                            <label>Exact Match?</label>
                            <div class="ui-select">
                                <input type="checkbox" class="checkbox" ng-model="LocatorParams.exactmatchChkbx[counter]" autocomplete="off" />

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div ng-show="LocatorParams.PanelSeparator[counter]" style="height:3px; background-color:#cccccc; width:100%; margin-top:5px; float: left"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div style="padding-top:10px; float: left;">
                <!--<input type="text" value="Search" class="btn btn-default" style="width:100px;" id="btnSearch" name="btnSearch" ng-click="searchLocatorEmail()" />-->
                <button ng-click="searchLocatorEmail()" class="btn btn-default"  type="Submit" style="width:100px;" id="btnSearch" name="btnSearch">Search</button>
            </div>
            <div style="padding-top:10px; float: left; margin-left: 10px;">
                <!--<input type="submit" value="Clear" class="btn btn-default" style="width:100px;" id="btnClear" name="btnClear" ng-click="locatorEmailClear()" />-->
                <button ng-click="locatorEmailClear()" class="btn btn-default"  type="Submit" style="width:100px;" id="btnClear" name="btnClear">Clear</button>
            </div>

            <div style="padding-top:10px; float: right;">
                <button type="button" class="btn btn-default" ng-model="SearchRows" ng-click="AddNewSearchRow(SearchRows)">Add New Row</button>
            </div>
            <span class="search-no-results">{{LocatorNoResults}}</span>
        </div>
    </div>
    <h3 ng-show="toggleAdvancedSearchHeader">Search Results</h3>


    </div>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    

</style>
