<!-- used the ConstExtBridge from Utility constants class -->
<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 1%;" ng-show="row.entity.transNotes.length <= 0  && row.entity.record_type!='ConstExtBridge'">
    <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
        Action <span class="caret"></span>
    </button>
    
    <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" >
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.commonEditGridRow(row.entity,grid)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a></li>
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
        <li role="menuitem" ng-if="row.entity.cnst_phn_num"><a href="javascript:void(0)" ng-click="grid.appScope.phoneResearchOneRecord(row.entity,grid)"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Research</a></li>

    </ul>
</div>



<div ng-show="row.entity.transNotes.length > 0 ">
   
    <div style="float:left;" class="col-lg-3 nopadding">
        <div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 1%;" ng-if="row.entity.cnst_phn_num ">
            <button id="btn-spl" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
                Action <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="btn-spl">

                <li role="menuitem"><a href="javascript:void(0)" ng-show="row.entity.transNotes == 'LN Records cannot be edited.'" ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
                <li role="menuitem" ng-if="row.entity.cnst_phn_num"><a href="javascript:void(0)" ng-click="grid.appScope.phoneResearchOneRecord(row.entity,grid)"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Research</a></li>

            </ul>
        </div>

        <button class="btn btn-sm custom-button" ng-show="row.entity.transNotes == 'LN Records cannot be edited.'" ng-if="!row.entity.cnst_phn_num"
                ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)">
            Inactivate
        </button>
    </div>
    <div  style="float:left;" class="col-lg-9 nopadding ">
        <span  tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}">
            <!--{{row.entity.transNotes}}-->
        </span>
    </div>

    <div style="clear:both;"></div>

</div>

<!-- used the ConstExtBridge from Utility constants class -->

<!--<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 2.5%;" ng-show="row.entity.transNotes.length <= 0  && row.entity.record_type!='ConstExtBridge'">
    <div ng-if="row.entity.best_addr_ind == '2'">
        <!--<div class="col-lg-3 col-md-3 col-sm-3 nopadding">
            <div style="margin-top:5px;">
                <!--<img src="Images/Medal First Place-52.png" width="25" height="25" />--

            </div>
        </div>--
        <div class="col-lg-12 col-md-12 col-sm-12 nopadding">
            <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
                Action <span class="caret"></span>
            </button>
        </div>
    </div>

    <div ng-if="row.entity.best_addr_ind != '2'">
        <button id="btn-append-to-body" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
            Action <span class="caret"></span>
        </button>
    </div>

    <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.commonEditGridRow(row.entity,grid)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a></li>
        <li role="menuitem"><a href="javascript:void(0)" ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
        <li role="menuitem" ng-if="row.entity.cnst_phn_num"><a href="javascript:void(0)" ng-click="grid.appScope.phoneResearchOneRecord(row.entity,grid)"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Research</a></li>

    </ul>
</div>



<div ng-show="row.entity.transNotes.length > 0 ">

    <div style="float:left;" class="col-lg-12 nopadding">
        <div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 2.5%;" ng-if="row.entity.cnst_phn_num ">
            <button id="btn-spl" type="button" class="btn btn-default" style="background-color: #fff" uib-dropdown-toggle>
                Action <span class="caret" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="btn-spl">

                <li role="menuitem"><a href="javascript:void(0)" ng-show="row.entity.transNotes == 'LN Records cannot be edited.'" ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Inactivate</a></li>
                <li role="menuitem" ng-if="row.entity.cnst_phn_num"><a href="javascript:void(0)" ng-click="grid.appScope.phoneResearchOneRecord(row.entity,grid)"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Research</a></li>

            </ul>
        </div>

        <div ng-show="row.entity.transNotes == 'LN Records cannot be edited.'" ng-if="!row.entity.cnst_phn_num">
            <div ng-if="row.entity.best_addr_ind == '2'">
                <!--<div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                    <!--<img src="Images/Medal First Place-52.png" width="25" height="25" />--

                </div>--
                <div class="col-lg-12 col-md-12 col-sm-12 nopadding">
                    <button class="btn btn-sm custom-button"
                            ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}">
                        Inactivate
                    </button>
                </div>

            </div>
            <div ng-if="row.entity.best_addr_ind != '2'">
                <button class="btn btn-sm custom-button"
                        ng-click="grid.appScope.commonDeleteGridRow(row.entity,grid)" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}">
                    Inactivate
                </button>
            </div>

        </div>

        <div class="text-center" style="margin-top:10px;margin-right:65%;" ng-show="row.entity.transNotes != 'LN Records cannot be edited.'">
            <span style="margin-left:10px;" tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}" ng-show="row.entity.transNotes =='Inactive/Soft-Deleted records cannot be edited.' || row.entity.row_stat_cd == 'L' || row.entity.transNotes.indexOf('delete')>0 ">
                <img src="Images/Expired-52.png" width="25" height="25" />
            </span>
        </div>
        <div class="text-center" style="margin-top:10px;margin-right:65%;" ng-show="row.entity.transNotes != 'LN Records cannot be edited.'">
            <span tooltip-placement="top" tooltip-append-to-body="true" uib-tooltip="{{row.entity.transNotes}}" ng-show="row.entity.row_stat_cd != 'L' && row.entity.transNotes.indexOf('delete')<0 ">
                <img src="Images/Historical-52.png" width="25" height="25" />
            </span>
        </div>


        <div style="clear:both;"></div>

    </div>


    </div>-->
