
<div id="modalCover">
    <div class="modal-header">
        <h3 class="modal-title">Delete Locator Record</h3>
    </div>
    <br />
    <form name="myForm" role="form" ng-submit="submit()" style="margin: 10px">
        <div class="form-group row">
            <label for="CaseKey" class="col-sm-4 form-control-label">Case Key:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.caseKey" id="CaseKey" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="FirstName" class="col-sm-4 form-control-label">First Name:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.firstName"  id="FirstName" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="LastName" class="col-sm-4 form-control-label">Last Name:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.lastName" id="LastName"  type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="OrgName" class="col-sm-4 form-control-label">Organization Name:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.orgName" id="OrgName"  type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="Address" class="col-sm-4 form-control-label">Address:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.address" id="Address" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="City" class="col-sm-4 form-control-label">City:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.city" id="City" type="text"></label>
            </div>
        </div>

        <div class="form-group row">
            <label for="singlebutton" class="col-sm-4 form-control-label">States:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.selected.StateCode" id="City" type="text"></label>
            </div>
        </div>

        <div class="form-group row">
            <label for="Zip" class="col-sm-4 form-control-label">Zip:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.zip" id="Zip"  type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="PhoneNum" class="col-sm-4 form-control-label">Phone Number:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.phoneNum" id="PhoneNum" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="Email" class="col-sm-4 form-control-label">Email:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.email" id="Email" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="MasterID" class="col-sm-4 form-control-label">Master ID:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.masterID" id="MasterID" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="ConstType" class="col-sm-4 form-control-label">Constituent Type:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.constType" id="ConstType" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="singlebutton" class="col-sm-4 form-control-label">Source System:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.selected.sourceSystemType" id="ConstType" type="text"></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="singlebutton" class="col-sm-4 form-control-label">Chapter System:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.selected.chapterSystemTypeCode" id="ConstType" type="text"></label> 
            </div>
        </div>

        <div class="form-group row">
            <label for="SourceSystemID" class="col-sm-4 form-control-label">Source System ID:</label>
            <div class="col-sm-8">
                <label ng-bind="caseLocInfo.SourceSystemID" id="SourceSystemID"  type="text"></label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" id="btnSubmit" type="Submit">Submit</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
