<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-StuartPOC.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="StuartPOC" source="StuartPOC" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="MenuJSONFilePath" value="C:\temp\MenuPref.txt" />
    <add key="BaseURL" value="http://localhost:54789/" />
    <!--<add key="BaseURL" value="http://localhost:53640/" />-->
    <add key="QuickSearchResultsPath" value="C:\Stuart\QuickSearchResults.txt" />
    <!--<add key="UploadFilePath" value="D:\Projects\Stuart V2\Stuart UI\Orgler\Files\" />-->
    <add key="UploadFilePath" value="C:\Temp\" />
    <add key="UploadStatusPath" value="C:\Orgler\Upload Status files\UploadStatus.txt" />
    <add key="UploadedFilePath" value="C:\Orgler\Files\UploadedFiles\" />
    <add key="PicklistDataPath" value="C:\Orgler\PickListData.txt" />
    <add key="CaseRecentSearchPath" value="C:\Orgler\RecentSearches\CaseRecentSearches.txt" />
    <add key="ConstituentRecentSearchPath" value="C:\Orgler\RecentSearches\ConstituentRecentSearches.txt" />
    <add key="TransactionRecentSearchPath" value="C:\Orgler\RecentSearches\TransactionRecentSearches.txt" />
    <add key="TabLevelSecurityConfigPath" value="C:\Orgler\Files\TabLevelSecurity.txt" />
    <add key="accountSearchResultData" value="C:\Orgler\accountsearchResultData.txt" />
    <add key="StuartCartCookieTimeout" value="1440" />

    <add key="ClientID" value="C2D61E08-F763-4786-9D8E-BEA23073733E" />
    <add key="UserName" value="StuartSVC" />
    <add key="Password" value="St@S3rv!ce" />
    <add key="TokenExpire" value="2883" />
    <add key="DomainNames" value="ARCHQ.RI.REDCROSS.NET" />
    <add key="DomainBase" value=".RI.REDCROSS.NET" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StuartAdmin" value="Stuart Admin" />
    <add key="StuartReader" value="Stuart" />
    <add key="StuartWriter" value="Stuart Writer" />
    <!-- Added this because we are getting the value in caps-->
    <add key="StuartDevelopmentTeam" value="STUART ADMIN" />
    <add key="CaseFilePath" value="/Files/UploadedFiles/" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <add key="FromEmail" value="StuartAdmin@redcross.org" />
    <!--<add key="CCEmail" value="schayakiran@exeter.com,naga.challa@redcross.org"/>-->
    <add key="CCEmail" value="" />
    <add key="BCCEmail" value="" />
    <add key="HostEmail" value="relay.redcross.org" />
    <!-- Added for Group Membership Reference Data-->
    <add key="GroupTypeDataPath" value="C:\Orgler\GroupType.txt" />
    <add key="SubGroupTypeDataPath" value="C:\Orgler\SubGroupType.txt" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Login/" name="adAuthCookie" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TDConnString" connectionString="Data Source=10.135.240.32;User ID=MURALIJ;Password=!!Sept2015!!#$;MinPoolSize=5;MaxPoolSize=100; Connection Timeout=120;" providerName="Teradata.Client.Provider" />
    <add name="TDConnectionEF" connectionString="Data Source=10.135.240.68;User ID=arcdss_stuart_user;Password=arc1strt@usr;MinPoolSize=5;MaxPoolSize=500; Connection Timeout=120;" providerName="Teradata.Client.Provider" />

    <!-- <add name="TeradataString" connectionString="Data Source=10.135.240.32;User ID=arcdss_stuart_user;Password=redcross8;MinPoolSize=5;MaxPoolSize=500;Connection Timeout=120;" providerName="Teradata.Client.Provider" />-->

    <!-- QA connection string-->
    <add name="TeradataString" connectionString="Data Source=10.135.240.68;User ID=arcdss_stuart_user;Password=arc1strt@usr;Connection Pooling=true;MinPoolSize=5;MaxPoolSize=100;" providerName="Teradata.Client.Provider" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Teradata.Client.Provider" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true" />

  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

</configuration>
