<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="TeradataDb" connectionString="Data Source=10.135.240.32;User ID=arcdss_stuart_user;Password=redcross8;MinPoolSize=5;MaxPoolSize=500;Connection Timeout=120;" providerName="Teradata.Client"/>
  <!--<add name="TDConnectionEF" connectionString="Data Source=10.135.240.32;Initial Catalog=DW_STUART_VWS;User ID=arcdss_stuart_user;Password=redcross8;MinPoolSize=5;MaxPoolSize=500;Connection Timeout=120;" providerName="Teradata.Client.Provider"/>-->
    <add name="TDOrglerEF" connectionString="Data Source=dwdevtd.bionet.org;User ID=Aishvariyaa.Ayyappan;Password=circle01;Connection Pooling=true;MinPoolSize=5;MaxPoolSize=100;" providerName="Teradata.Client.Provider" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Teradata.Client.Provider1" type="Teradata.Client.Provider, EntityFramework.SqlServer"/>
      <provider invariantName="Teradata.Client.Provider" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <add assembly="System.Data.Entity, Version=6.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
