<!-- This template has a parent controller ConstCemCtrl.js, all the cem variables cna be accessed in this template -->
<div class="row">
    <div ng-controller="ConstCemMsgPrefCtrl">

        <div ng-show="msgPref.togglePleaseWait">
            <div class="refresh refresh-div">
                <h4>Please wait....</h4>
            </div>
        </div>
        <div ng-show="msgPref.toggleDetails">

            <div class="row padding">

                <div class="row nopadding">
                    <div class="row nopadding">
                        <div class="col-md-4 col-lg-4 col-sm-4 nopadding" style="display:inline;">
                            <h3>Message Preference</h3>

                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-5 nopadding">
                            <div ng-show="(msgPref.totalItems>=5) == true" style="display:inline;">
                                <select ng-model="msgPref.gridOptions.paginationPageSize" ng-options="o as o for o in msgPref.gridOptions.paginationPageSizes"
                                        class="form-control-static new-form-control-static"
                                        ng-if="msgPref.gridOptions.paginationPageSizes.length > 1"></select>
                                <span class="">&nbsp;records per page</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 font-orange-changer ">
                            <span class="font-orange" ng-show="msgPref.distinctRecordCount==1">There is {{msgPref.distinctRecordCount}} distinct record</span>
                            <span class="font-orange" ng-show="msgPref.distinctRecordCount>1">There are {{msgPref.distinctRecordCount}} distinct record</span>
                        </div>
                    </div>
                    <div class="pull-left">
                        <span>Displays all the Message Preference existing on the master from the various production systems</span>

                    </div>
                    <div class="pull-right ">
                        <a href="#" class=" " ng-click="msgPref.showAllrecords()">{{msgPref.showAllName}}  </a>
                        <div style="display:inline;">
                            <a href="#" class="" ng-click="msgPref.showDetails.allDetails()">Show Details</a>

                        </div>
                    </div>
                </div>
            </div>

            <div ui-grid="msgPref.gridOptions" scrolldown ui-grid-selection ui-grid-pagination ui-grid-exporter ui-grid-move-columns ui-grid-resize-columns ui-grid-auto-resize>
                <div class="watermark" ng-show="!msgPref.gridOptions.data.length">No data available</div>
            </div>




            <div class="grid-pager">
                <div class="col-lg-9 col-md-9 col-sm-9 nopadding">
                    <div ng-show="(msgPref.totalItems>=5) == true">
                        <div class="pagination-left">
                            <uib-pagination boundary-links="true" total-items="msgPref.totalItems" items-per-page="msgPref.gridOptions.paginationPageSize" ng-change="msgPref.pageChanged(msgPref.currentPage)" scrolldown
                                            ng-model="msgPref.currentPage" class="pagination" direction-links="false"
                                            first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-show="cem.toggleCemAddButton">
                    <div style="margin-top:20px;" class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="msgPref.addRecord()">Add Message Preference</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding" ng-hide="cem.toggleCemAddButton">
                    <div style="margin-top:20px;" class="pull-right">
                        <span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
